<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New note</title>
</head>
<body>

<form th:method="POST" th:action="@{/notes}" th:object="${webNote}"> <!-- обращаемся к notes и берём webNote -->
  <label for="note">Enter note:</label> <!-- выводим текст Enter note: -->
  <input type="text" th:field="*{note}" id="note" /> <!-- поле, куда мы вводим название заметки -->
  <input type="submit" value="Add note"/> <!-- кнопка, чтобы добавить новую заметку -->
</form>

</body>
</html>